@model SV19T1081001.DomainModel.Product
@{
    ViewBag.Title = "Bổ sung mặt hàng";
}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <div class="col-lg-8 col-md-12">
            <form class="form-horizontal" action="~/product/save" method="post" EncType="multipart/form-data">
                @Html.HiddenFor(m => m.ProductID)
                <div class="form-group">
                    <label class="control-label col-sm-2">Tên mặt hàng:</label>
                    <div class="col-sm-10">
                        @*<input type="text" class="form-control" name="ProductName" autofocus>*@
                        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Đơn vị tính:</label>
                    <div class="col-sm-10">
                        @*<input type="text" class="form-control" name="Unit" >*@
                        @Html.TextBoxFor(m => m.Unit, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Unit, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Giá hàng:</label>
                    <div class="col-sm-10">
                        @*<input type="text" class="form-control" name="Price">*@
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Loại hàng:</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.Categories(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CategoryID, "", new { @class = "text-danger" })
                    </div>
                </div>

                
                <div class="form-group">
                    <label class="control-label col-sm-2">Nhà cung cấp:</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.SupplierID, SelectListHelper.Suppliers(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SupplierID, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-sm-2">Ảnh minh họa:</label>
                    <div class="col-sm-10">
                        @Html.HiddenFor(m => m.Photo)
                        <input type="file" class="form-control" id="uploadPhoto" name="uploadPhoto" onchange="document.getElementById('previewImage').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Lưu dữ liệu
                        </button>
                        <a class="btn btn-warning" href="~/product">
                            <i class="fa fa-step-backward"></i> Quay lại
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <img id="previewImage" src="~/Images/default.jpg" alt="your image" style=" height: 250px; width: 250px; object-fit: contain; margin-left: 50%; transform: translateX(-50%);">
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer text-center">
    </div>

</div>


