@model SV19T1081001.DomainModel.ProductPhoto
@{

}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <div class="col-lg-8 col-md-12">
            <form class="form-horizontal" action="~/product/savephoto" method="post" EncType="multipart/form-data">
                <div class="form-group">
                    <label class="control-label col-sm-2">Ảnh:</label>
                    <div class="col-sm-10">
                        @*<input type="file" class="form-control" name="Photo" />*@
                        @Html.HiddenFor(m => m.Photo)
                        @Html.HiddenFor(m => m.ProductID)
                        @Html.HiddenFor(m => m.PhotoID)

                        <input type="file" class="form-control" id="uploadPhoto" name="uploadPhoto" onchange="document.getElementById('previewImage').src = window.URL.createObjectURL(this.files[0])" />
                        @Html.ValidationMessageFor(m => m.Photo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Mô tả:</label>
                    <div class="col-sm-10">
                        @*<input type="text" class="form-control" name="Description" >*@
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                      
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Thứ tự hiển thị:</label>
                    <div class="col-sm-10">
                        @*<input type="number" class="form-control" name="DisplayOrder" >*@
                        @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control", @type = "number" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-sm-10 checkbox">
                        @*<label><input type="checkbox" name="IsHidden">Ẩn ảnh (không hiển thị với khách hàng)</label>*@
                        <label>@Html.CheckBoxFor(m => m.IsHidden)Ẩn ảnh (không hiển thị với khách hàng)</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Lưu dữ liệu
                        </button>
                        <a class="btn btn-warning" href="~/product/edit/@Model.ProductID">
                            <i class="fa fa-ban"></i> Quay lại
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-12">
            <img id="previewImage" src="~/@Model.Photo" onerror="this.onerror=null;this.src='/Images/default.jpg';" alt="your image" style=" height: 250px; width: 250px; object-fit: contain; margin-left: 50%; transform: translateX(-50%);">
        </div>
    </div>
    <div class="box-footer text-center">
    </div>

</div>

