@model SV19T1081001.DomainModel.Account
@{ 
    ViewBag.Title = "Đổi Mật Khẩu";
}
<div class="box box-primary">

    <div class="box-header with-border">
        <h3 class="box-title"></h3>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <form class="form-horizontal" action="~/account/changepassword" method="post" EncType="multipart/form-data">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Mật khẩu cũ: </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @autofocus = "autofocus", @type = "password", @Value =ViewBag.Password })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Mật khẩu mới: </label>
                        <div class="col-sm-10">
                            <input id="newPassword" name="newPassword" type="password" class="form-control" value="@ViewBag.NewPassword" />
                            @Html.ValidationMessage("NewPassword", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Nhập lại mật khẩu: </label>
                        <div class="col-sm-10">
                            <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" value="@ViewBag.ConfirmPassword" />
                            @Html.ValidationMessage("ConfirmPassword", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <div class="form-group ">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Đổi mật khẩu</button>
                            <a href="~/employee" class="btn btn-warning"><i class="fa fa-step-backward"></i> Quay lại</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-4 col-md-12">
            <img id="previewImage" src="~/@Model.Photo" alt="your image" onerror="this.onerror=null;this.src='/Images/default.jpg';" style=" height: 300px; width: 300px; object-fit: contain; margin-left: 50%; transform: translateX(-50%); margin-bottom: 15px">
        </div>
    </div>
</div>



